@use 'src/styles/vars';

.converted-amount {
  background-color: vars.$color-light;
  padding: vars.$gutter * 3 0;
  text-align: center;

  &__amount {
    font-weight: vars.$font-weight-bold;
    font-size: 2em;
  }

  &__currency {
    font-size: 1.3em;
    margin-top: vars.$gutter;
  }
}
