@use 'src/styles/vars';

.base-amount {
  background-color: vars.$color-main;
  color: vars.$color-light;
  padding: vars.$gutter * 3 0;
  text-align: center;

  &__title {
    font-size: 2em;
    font-weight: vars.$font-weight-bold;
  }

  &__amount {
    margin-top: vars.$gutter;
    font-size: 1.3em;
  }
}
