@use 'reset';
@use 'vars';

body {
  font-family: vars.$font-family;
  background-color: vars.$color-alt;
  font-weight: vars.$font-weight-light;
  color: vars.$color-main;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
