@use 'src/styles/vars';

.currencies {
  background-color: vars.$color-light;
  max-height: 250px;
  overflow-y: auto;
  
  &__title {
    padding: vars.$gutter;
    margin-top: vars.$gutter;
    font-weight: vars.$font-weight-bold;
  }

  &__item {
    padding: vars.$gutter;
    border-top: 1px solid vars.$color-alt;
    font-weight: 500;
    transition: background-color vars.$transition-slow;
    cursor: pointer;
    &:hover {
      background-color: vars.$color-alt;
      transition-duration: vars.$transition-fast;
    }
  }

   // Search - filter
   &__search {
    padding: vars.$gutter;
    margin-top: vars.$gutter;
    width: 100%;
    border: none;
    color: vars.$color-main;
    font: inherit;
    &::placeholder {
      color: vars.$color-alt;
  }
}

}
